**/**/node_modules
**/**/*.log
lib/**/package-lock.json
lib/project-files/.vscode
lib/project-files/dist
**/**/dist
**/**/tsconfig.tsbuildinfo
.vscode

test/
**/**/.DS_Store

# Rewritten on every template test run
lib/project-files/src/repos/common/database.test.json
