**/**/node_modules
**/**/*.log
lib/**/package-lock.json
lib/template/.vscode
lib/template/dist
**/**/dist
**/**/tsconfig.tsbuildinfo
.vscode

test/
**/**/.DS_Store

# Rewritten on every template test run
lib/template/src/repos/common/database.test.json
