<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Users</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/users.css" />
    </head>
    <body>

        <!-- Add Users -->
        <div class="users-column add-user-col">
            <div class="column-header">Add User:</div>
            <div>
                <input id="name-input" placeholder="Name">
            </div>
            <div>
                <input id="email-input" placeholder="Email">
            </div>
            <div>
                <button id="add-user-btn">Add</button>
            </div>
            <div>
                <button id="logout-btn">Logout</button>
            </div>
        </div>

        <!-- Display Users -->
        <div class="users-column">
            <div class="column-header">Users:</div>
            <div id="all-users-anchor"></div>
        </div>



    </body>
    <script src="scripts/http.js"></script>
    <script src="scripts/users.js"></script>
</html>
