<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
    </head>
    <body>

        <div class="login-block">
            <div class="login-header">Login</div>

            <div class="login-input">
                Username:<br/>
                <input id="email-input" type="text"/>
            </div>
            
            <div class="login-input">
                Password:<br/>
                <input id="pwd-input" type="password"/>
            </div>

            <div>
                <button id="login-btn">Login</button>
            </div>

            <div class="default-login-user">
                // Default admin user (Email: "sean.maxwell@gmail.com", Password: "Password@1")
            </div>
        </div>

    </body>
    <script src="scripts/http.js"></script>
    <script src="scripts/login.js"></script>
</html>